%h1 Show Trials Information
-trial = @trial
%table#table
  %thead
    %tr
      %th Title
      %th Estart
      %th Eend
      %th Status
      %th
      %th
      %th

  %tbody#body
    %tr
      %td= trial.title
      %td= trial.estart
      %td= trial.eend
      %td= trial.status

%br

=# link_to 'New Simple', new_trial_path