<%
  if current_ma_user.role.upcase.split(',').include?("A")
    trial = Trial.all.desc(:created_at)
  else
    trial = Trial.where(user: current_ma_user).desc(:created_at)
  end
%>
<div class="field" data-role="fieldcontain">
  <%= label_tag :title, 'Trial title' %>
  <%= select_tag :title, options_from_collection_for_select(trial, :id, :title), "data-native-menu"=>"false" %>
</div>

